/* the latest themes */


/* night owl, shades of purple, celestial, andromeda, laserwave */


/*CUSTOM-PROPS */

:root {
    /* --bg-color: #f2efef; */
    --text-color: #1E212C;
    --white: #FFF;
    --red: #FF4242;
    --gray: #787A80;
    --green: #03CEA4;
    --yellow: #F89828;
    --blue: #5A87FC;
    --pink: #F52F6E;
    --footer-color: rgba(30, 33, 44, 1);
    --white-smoke: #F5F5F5;
    --footer-bottom-color: rgb(39, 42, 55);
    --dark-blue: rgb(87, 87, 202);
    /* other theme */
    --dark: #171836;
    --golden: #DAA520;
}


/* GLOBAL */

*:focus {
    outline: 3px dotted var();
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--white);
    /* background-color: var(--dark); */
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1270px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* BUTTON */

.button {
    display: inline-block;
    padding: 2px 40px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    color: var(--white);
    text-decoration: none;
}

.orange-btn {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.button:active {
    opacity: 0.6;
}

.e-l__link {
    border: 1px solid var(--red);
    /* border-image-source: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); */
    background-color: transparent;
    color: var(--red);
}


/* MAIN-WRAPPER */

.main-wrapper {
    background-image: url('../img/background.png');
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-color: rgba(233, 190, 197, 0.5);
    /* background-color: #0d15ec8c; */
}


/* SITE-HEADER */

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
}

.site-header__item:not(:last-child) {
    margin-right: 40px;
}

.site-header__link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.site-header__logo-link {
    text-decoration: none;
}


/* HERO */

.hero {
    padding: 80px;
    padding-bottom: 80px;
}

.hero__container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.hero__content {
    margin-right: 180px;
}

.hero_play__wrapper {
    margin-top: 0;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.hero__play-btn {
    width: 84px;
    height: 84px;
    margin-right: 0;
    cursor: pointer;
}

.hero__play-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 60px;
    width: 496px;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
}

.hero__link-wrapper {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.hero__link-1 {
    margin-right: 24px;
}

.hero__link-2 {}

.hero__img {}


/* MAIN */

.main {
    padding-top: 180px;
    padding-bottom: 180px;
}

.main__container {
    display: flex;
    align-items: center;
}

.main__img {
    width: 705px;
    height: 560px;
    margin-right: 135px;
}

.main__content {}

.main__title-little {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main__title-big {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.main__list {
    margin-top: 0;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main__item {
    display: flex;
    align-items: center;
}

.main__item:not(:last-child) {
    margin-bottom: 5px;
}

.main__check-icon {
    margin-right: 16px;
}

.main__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.main__link {
    margin-top: 48px;
    margin-bottom: 0;
}


/* ENGLISH-LEGENDS - e-l */

.e-l {
    padding-top: 0;
    padding-bottom: 180px;
}

.e-l__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 60px;
}

.e-l__title-little {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.e-l__title-big {
    margin-top: 0;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.e-l__list {
    flex-wrap: wrap;
    margin-top: 0;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.e-l__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 30px;
}

.legend__wrapper {
    display: flex;
    align-items: center;
}

.legend__img {
    margin-right: 0;
    width: 214px;
    height: 214px;
    border-radius: 7px;
}

.legend__content {
    padding: 32px;
    background-color: white;
    /* gray/300 */
    border: 1px solid #E5E8ED;
    /* shadow/small */
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.gold {
    background-color: var(--golden);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.red {
    background-color: var(--red);
}

.pink {
    background-color: var(--pink);
}

.yellow {
    background-color: var(--yellow);
}

.legend__tag {
    display: inline-block;
    padding: 1px 8px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    line-height: 150%;
    color: var(--white);
}

.legend__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.legend__time-to-read {
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray);
}

.legend-minute {
    color: var(--red)
}


/* SITE-FOOTER */

.site-footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--footer-color);
}

.site-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 1st */

.site-footer__1st {}

.site-footer__1st__logo {
    margin-top: 0;
    margin-bottom: 24px;
}

.site-footer__1st__text {
    width: 279px;
    margin-top: 0;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--gray);
}

.site-footer__1st__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer__1st__item {}

.site-footer__1st__logo-link {
    text-decoration: none;
}

.site-footer__1st__link {
    text-decoration: none;
    color: #787A80;
}

.site-footer__1st__link:hover {
    color: var(--white);
}

.site-footer__1st__item:not(:last-child) {
    margin-right: 21px;
}

.center-p {
    position: relative;
    top: -20px;
}


/* 2nd */

.site-footer__2nd {}

.site-footer__2nd__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
}

.site-footer__2nd__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer__2nd__item:not(:last-child) {
    margin-bottom: 8px;
}

.site-footer__2nd__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray);
}


/* 3rd */

.site-footer__3rd {}

.site-footer__3rd__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
}

.site-footer__3rd__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer__3rd__item:not(:last-child) {
    margin-bottom: 8px;
}

.site-footer__3rd__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray);
}


/* 4th */

.site-footer__4th {}

.site-footer__4th__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
}

.site-footer__4th__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer__4th__item:not(:last-child) {
    margin-right: 8px;
}

.site-footer__4th__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray);
}


/* footer-bottom */

.site-footer__bottom {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--footer-bottom-color);
}

.site-footer__bottom__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer__bottom-text {
    margin-right: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--gray);
    font-style: italic;
}

.site-footer__bottom-img {
    margin-right: 0;
}

.s2trv {
    color: var(--dark-blue);
    text-transform: lowercase;
    cursor: pointer;
    text-decoration: none;
    margin-left: 2px;
}


/* LEGENDS */

.legends {
    padding-top: 80px;
    padding-bottom: 80px;
}

.legends__container {}

.legends__title-little {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.legends__title-big {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 90px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.legends__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.legends__item {
    margin-right: 20px;
    margin-bottom: 30px;
}

.legends__wrapper {
    /* border: 1px solid black; */
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.legends__img {
    margin: 0;
}

.legends__content {
    margin-top: 0;
    padding: 20px;
    background-color: white;
    /* gray/300 */
    /* border: 1px solid #E5E8ED; */
    /* shadow/small */
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}